@page "/Account/Manage/TwoFactorAuthentication"

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>To-faktor autentisering (2FA)</PageTitle>

<StatusMessage />
<h3>
    <i class="bi bi-fingerprint"></i>
    To-faktor autentisering (2FA)
</h3>
@if (canTrack)
{
    if (is2faEnabled)
    {
        if (recoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>Du har ingen gjenopprettingskoder igjen.</strong>
                <p>Du må <a href="Account/Manage/GenerateRecoveryCodes">generere et nytt sett gjenopprettingskoder</a> før du kan logge inn med en gjenopprettingskode.</p>
            </div>
        }
        else if (recoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>Du har 1 gjenopprettingskode igjen.</strong>
                <p>Du kan <a href="Account/Manage/GenerateRecoveryCodes">generere et nytt sett gjenopprettingskoder</a>.</p>
            </div>
        }
        else if (recoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>Du har @recoveryCodesLeft gjenopprettingskoder igjen.</strong>
                <p>Du bør <a href="Account/Manage/GenerateRecoveryCodes">generere et nytt sett gjenopprettingskoder</a>.</p>
            </div>
        }

        if (isMachineRemembered)
        {
            <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                <AntiforgeryToken />
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-stars"></i>
                    Glem denne nettleseren
                </button>
            </form>
        }

        <a href="Account/Manage/Disable2fa" class="btn btn-primary">Deaktiver 2FA</a>
        <a href="Account/Manage/GenerateRecoveryCodes" class="btn btn-primary">Nullstill gjenopprettingskoder</a>
    }

    <h4>Autentikator-app</h4>
    @if (!hasAuthenticator)
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-primary">Legg til autentikator-app</a>
    }
    else
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-success">
            <i class="bi bi-plus-lg"></i>
            Ta i bruk autentikator-app
        </a>
        <a href="Account/Manage/ResetAuthenticator" class="btn btn-warning">
            <i class="bi bi-stars"></i>
            Nullstill autentikator-app
        </a>
    }
}
else
{
    <div class="alert alert-danger">
        <strong>Retningslinjene for personvern og informasjonskapsler er ikke akseptert.</strong>
        <p>Du må akseptere retningslinjene før du kan aktivere to-faktor autentisering.</p>
    </div>
}

@code {
    private bool canTrack;
    private bool hasAuthenticator;
    private int recoveryCodesLeft;
    private bool is2faEnabled;
    private bool isMachineRemembered;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        is2faEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    private async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "Nettleseren har blitt glemt. Neste gang du logger inn fra denne nettleseren må du oppgi din 2fa-kode.",
            HttpContext,
            MessageType.Info);
    }
}
