.card {
    cursor: pointer;
    margin-bottom: .5rem;
    min-width: 350px;
    min-height: 150px;
    background: no-repeat;
    border: none;
}

.card-title {
    position: absolute;
    padding-top: .5rem;
    padding-bottom: .2rem;
    padding-left: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
}

.info-nuggets {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    left: 0;
    width: 100%;
}

.info-nugget {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border-top: solid 1px var(--info-box-border-color);
}

.info-nugget-left {
    width: 33%;
    border-top: solid 1px var(--info-box-border-color);
}

.info-nugget-middle {
    width: 34%;
    border-left: solid 1px var(--info-box-border-color);
    border-right: solid 1px var(--info-box-border-color);
}

.info-nugget-right {
    width: 33%;
}

@media (min-width: 768px) {
    .card {
        max-width: 50%;
    }
}

@media (min-width: 614px) {
    .card {
        max-width: 33%;
    }
}