@inject NavigationManager Nav
@rendermode InteractiveServer

<div class="topbar-container">
    <div class="logo-wrapper">
        <img src="images/branding/logo304x150.png" @onclick="GoHome" class="logo" alt="Menu planner logo" />
    </div>
    <div class="searchform-wrapper">
        <SearchForm />
    </div>
    <div class="userbutton-wrapper">
        <UserButtons />
    </div>
</div>

@code{
    public void GoHome()
    {
        Nav.NavigateTo("/");
    }
}