@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="topbar">
            <AdminTopBar />
        </header>
        <article class="container pt-md-5 pt-sm-2 pb-md-5 pb-sm-2">
            @Body
        </article>
    </main>
</div>
