@page "/admin/recipes/{Url}"
@inject IRecipeService RecipeService
@inject NavigationManager Nav
@inject IMapper Mapper
@attribute [Authorize(Roles = "SysAdmin,RecipeEditor,RecipePublisher")]
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Oppskrift</PageTitle>
@if (recipe == null)
{
    <Loader />
}
else
{
    <h1>@recipe.Name</h1>
    @* <RecipeHeader Recipe="recipe" EntityContext="EntityContext.View" /> *@


}

@code {
    [Parameter]
    public string Url { get; set; }

    RecipeDetailsDisplayDTO? recipe;

    protected override async Task OnInitializedAsync()
    {
        var result = await RecipeService.GetByUrl(Url);
        if (result.Success)
        {
            recipe = result.Data;
        }
    }

    void EditUser()
    {
        Nav.NavigateTo($"/admin/recipes/edit/{recipe!.Url}");
    }
}
