@if (Level != null)
{
    <span class="badge info-badge text-@bgCol">
        <i class="bi bi-puzzle"></i>
        @(Level switch
        {
            DifficultyLevel.Easy => "Lett",
            DifficultyLevel.Intermediate => "Middels",
            DifficultyLevel.Advanced => "Avansert",
            _ => ""
        })
    </span>
}

@code {
    [Parameter]
    public DifficultyLevel? Level { get; set; }
    private string bgCol = "";

    protected override void OnInitialized()
    {
        bgCol = Level switch
        {
            DifficultyLevel.Easy => "success",
            DifficultyLevel.Intermediate => "warning",
            DifficultyLevel.Advanced => "danger",
            _ => "primary"
        };
    }
}
