@if (Time != null)
{
    <span class="badge info-badge text-black">
        <i class="bi bi-stopwatch"></i>
        @timeString
    </span>
}

@code {
    [Parameter]
    public TimeSpan? Time { get; set; }
    string timeString = "";

    protected override void OnInitialized()
    {
        if (Time != null)
        {
            TimeSpan t = (TimeSpan)Time;

            if (t >= new TimeSpan(24, 0, 0))
            {
                timeString = $"{t.Days} dag{(t.Days > 1 ? "er" : "")}";
            }
            if (t.Hours > 0)
            {
                timeString += $"{(timeString.Length > 0 ? ", " : "")}{t.Hours} time{(t.Hours > 1 ? "r" : "")}";
            }
        }
    }
}
