@if (Score != null)
{
    <span class="badge info-badge text-@bgCol">
        <i class="bi bi-star"></i>
        @Score
    </span>
}

@code {
    [Parameter]
    public double? Score { get; set; }
    private string bgCol = "";

    protected override void OnInitialized()
    {
        bgCol = Score switch
        {
            > 7 => "success",
            > 4 => "warning",
            _ => "danger"
        };
    }
}
