@page "/a/{Url}"
@inject IAllergenService AllergenService
@rendermode InteractiveServer
@attribute [StreamRendering]

@if (allergen == null)
{
    <PageTitle>Henter allergen...</PageTitle>
    <Loader />
}
else
{
    <PageTitle>@allergen.Name</PageTitle>
    <h1>@allergen.Name</h1>
    <div class="text-box">
        <p>@allergen.Description</p>
    </div>
    <img class="image" src="images/allergens/@(allergen.Url).png" />
}

@code {
    [Parameter]
    public string Url { get; set; } = "";
    private AllergenDisplayDTO? allergen;

    protected override async Task OnInitializedAsync()
    {
        var result = await AllergenService.GetByUrl(Url);
        if (result.Success)
        {
            allergen = result.Data;
        }
    }
}
