@inherits LayoutComponentBase
@layout AccountLayout

<h1>Min konto</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
