@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
            <i class="bi bi-person"></i>
            Brukerprofil
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Email">
            <i class="bi bi-envelope-at"></i>
            E-post
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">
            <i class="bi bi-key"></i>
            Passord
        </NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ExternalLogins">
                <i class="bi bi-broadcast-pin"></i>
                Ekstern innlogging
            </NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="Account/Manage/TwoFactorAuthentication">
            <i class="bi bi-fingerprint"></i>
            To-faktor autentisering
        </NavLink>
    </li>
    @if (!isSysAdmin)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/PersonalData">
                <i class="bi bi-clipboard"></i>
                Personopplysninger
            </NavLink>
        </li>
    }
</ul>

@code {
    bool isSysAdmin;

    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaimsPrincipal = authenticationState.User;
        var user = await UserManager.GetUserAsync(userClaimsPrincipal);
        if (user != null)
        {
            var roles = await UserManager.GetRolesAsync(user);
            if (roles != null)
            {
                isSysAdmin = roles.Any(r => r.Equals("SysAdmin"));
            }
        }
    }
}
