<StatusMessage Message="@StatusMessage" />
<h4>Gjenopprettingskoder</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Oppbevar disse kodene på et sikkert sted.</strong>
    </p>
    <p>
        Hvis du mister enheten din og ikke har gjenopprettingskodene, vil du miste tilgangen til din konto.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var recoveryCode in RecoveryCodes)
        {
            <div>
                <code class="recovery-code">@recoveryCode</code>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string[] RecoveryCodes { get; set; } = [];

    [Parameter]
    public string? StatusMessage { get; set; }
}
