<h4>Brukere</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>Antall</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Totalt</td>
            <td>@Total</td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public int Total { get; set; }
}
