::deep table {
    min-width: 100%;
}

::deep th.name, ::deep th.name {
    width: 14rem;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
}

/* Don't collapse rows even if they are empty */
::deep tbody tr {
    height: 1.8rem;
}

.search-box {
    padding: 1rem;
}

::deep tbody .name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}