@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3>
    <i class="bi bi-clipboard"></i>
    Personopplysninger
</h3>

<div class="row">
    <div class="col-md-6">
        <p>Din brukerkonto inneholder personopplysninger som du har gitt oss. På denne siden kan du laste ned eller slette disse opplysningene.</p>
        <p>
            <strong>Dersom du velger å slette personopplysningene vil du miste din brukerkonto. Operasjonen kan ikke angres.</strong>
        </p>
        <div class="d-flex flex-row gap-3">
            <form action="Account/Manage/DownloadPersonalData" method="post">
                <AntiforgeryToken />
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-box-arrow-down"></i>
                    Last ned
                </button>
            </form>
            <p>
                <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">
                    <i class="bi bi-person-x"></i>
                    Slett
                </a>
            </p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
