@inject NavigationManager Nav
@rendermode InteractiveServer

<i class="bi bi-house link" @onclick='(() => GoTo("/"))'></i>
<a href="/">
    Forsiden
</a>
@if (!string.IsNullOrWhiteSpace(PageTitle))
{
    <span> > @PageTitle</span>
}

@code {
    [Parameter]
    public string? PageTitle { get; set; }

    private void GoTo(string route)
    {
        Nav.NavigateTo(route);
    }
}
