@if (Notes != null)
{
    foreach (var note in Notes)
    {
        <div class="d-flex flex-row justify-content-start">
            <div class="px-3">
                <i class="bi bi-info-circle icon-4x"></i>
            </div>
            <div>
                @if (!string.IsNullOrWhiteSpace(note.Title))
                {
                    <h5>@note.Title</h5>
                }
                <p class="note-text">@note.Text</p>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public List<RecipeNoteDisplayDTO>? Notes { get; set; }

}
