@if (SubRecipes != null && SubRecipes.Count > 0)
{
    @foreach (var subRecipe in SubRecipes)
    {
        <p>
            <a href="@subRecipe.Url">
                @subRecipe.Name
            </a>
        </p>
    }
}

@code {
    [Parameter]
    public List<(string Url, string Name)>? SubRecipes { get; set; }
}
