@inject NavigationManager Nav
@rendermode InteractiveServer
@attribute [StreamRendering]

@if (Recipe != null)
{
    <div class="card" @onclick="(() => GoToRecipe(Recipe.Slug))">
        <img class="card-img" src="images/recipes/@(Recipe.Slug)200x150.jpg" />
        <div class="card-img-overlay">
            <div class="card-title">
                <h5>
                    <img class="mr-3"
                            src="images/flags/icon-24px/@(Recipe.Country.ISO3166_2).png"
                            alt="@(Recipe.Country.Name)"
                            title="@(Recipe.Country.Name)" />
                    @Recipe.Name
                </h5>
            </div>
            <div class="info-nuggets">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info-nugget info-nugget-left">
                        <RatingAverage Score="Recipe.RatingAverage" />
                    </div>
                    <div class="info-nugget info-nugget-middle">
                        <Difficulty Level="Recipe.DifficultyLevel" />
                    </div>
                    <div class="info-nugget info-nugget-right">
                        <PrepTime Time="Recipe.PrepTime" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public RecipeSummaryDisplayDTO? Recipe { get; set; }

    private void GoToRecipe(string url)
    {
        Nav.NavigateTo($"/recipe/{url}");
    }
}
