@if (SubRecipes != null && SubRecipes.Count > 0)
{
    @foreach (var subRecipe in SubRecipes)
    {
        <p>
            <a href="@subRecipe.Slug">
                @subRecipe.Name
            </a>
        </p>
    }
}

@code {
    [Parameter]
    public List<(string Slug, string Name)>? SubRecipes { get; set; }
}
