@page "/admin"
@attribute [Authorize(Roles = "SysAdmin,UserAdmin,NutrientAdmin,AllergenAdmin")]

<PageTitle>Admin - oversikt</PageTitle>
<h1>Oversikt</h1>

<div class="d-flex flex-row">
    <div>
        <h4>Brukere</h4>
        <p>Oppsummering her</p>
        <h4>Oppskrifter</h4>
        <p>Oppsummering her</p>
    </div>
    <div>
        <h4>Ingredienser</h4>
        <p>Oppsummering her</p>
        <h4>Næringsstoffer</h4>
        <p>Oppsummering her</p>
        <h4>Allergener</h4>
        <p>Oppsummering her</p>
    </div>
</div>


@code {

}
