@page "/nutrient/{Slug}"
@inject INutrientService NutrientService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@attribute [StreamRendering]

@if (nutrient == null)
{
    <Loader />
    <PageTitle>Laster næringsstoff ...</PageTitle>
}
else
{
    <BreadCrumbs PageTitle="@nutrient.Name" />
    <h1>@nutrient.Name</h1>
    <div class="main-image-wrapper">
        <img class="main-image" src="images/nutrients/@(nutrient.Slug)1000x350.jpg" />
    </div>
    <p class="main-description">@nutrient.Description</p>
    <p>Kort-liste over ingredienser som inneholder mye av dette næringsstoffet, vist i kompakt format (cards).</p>
}

@code {
    [Parameter]
    public string Slug { get; set; } = string.Empty;

    NutrientDisplayDTO? nutrient;

    protected override async Task OnInitializedAsync()
    {
        var result = await NutrientService.GetBySlug(Slug);
        if (result.Success)
        {
            nutrient = result.Data;
            JSRuntime.InvokeVoidAsync("setTitle", nutrient.Name);
        }
    }
}
