@page "/nutrient/{Url}"
@inject INutrientService NutrientService

@if (nutrient == null)
{
    <Loader />
}
else
{
    <PageTitle>@nutrient.Name</PageTitle>
    <h1>@nutrient.Name</h1>
    <div class="main-image-wrapper">
        <img class="main-image" src="images/nutrients/@(nutrient.Url)1000x350.jpg" />
    </div>
    <p class="main-description">@nutrient.Description</p>
    <p>Kort-liste over ingredienser som inneholder mye av dette næringsstoffet, vist i kompakt format (cards).</p>
}

@code {
    [Parameter]
    public string? Url { get; set; }

    NutrientDisplayDTO? nutrient;

    protected override async Task OnInitializedAsync()
    {
        var result = await NutrientService.GetByUrl(Url);
        if (result.Success)
        {
            nutrient = result.Data;
        }
    }
}
