@inject IRecipeService RecipeService
@attribute [StreamRendering]

<h1>Populære oppskrifter</h1>
<p>Dette er våre best likte oppskrifter. Hvilken vil du prøve i dag?</p>

@if (recipes is null)
{
    <Loader />
}
else
{
    <div class="d-flex flex-column">
        @foreach (var recipe in recipes)
        {
            <RecipeSummary Recipe="recipe" />
        }
    </div>
}

@code {
    private List<RecipeSummaryDisplayDTO>? recipes;

    protected override async Task OnInitializedAsync()
    {
        var result = await RecipeService.GetTop(10);
        if (result.Success)
        {
            recipes = result.Data;        }
    }
}
