@inject NavigationManager Nav
@rendermode InteractiveServer
@attribute [StreamRendering]

@if (Recipe != null)
{
    <div class="card" @onclick="(() => GoToRecipe(Recipe.Url))">
        <img class="card-img-top" src="images/recipes/@(Recipe.Url)200x150.jpg" />
        <div class="card-body">
            <h5 class="card-title">@Recipe.Name</h5>
            <p class="card-text">
                <PrepTime Time="Recipe.PrepTime" />
                <Difficulty Level="Recipe.DifficultyLevel" />
                <RatingAverage Score="Recipe.RatingAverage" />
                <CountryOfOrigin Country="Recipe.Country" />
            </p>
        </div>
    </div>
}

@code {
    [Parameter]
    public RecipeSummaryDisplayDTO? Recipe { get; set; }

    private void GoToRecipe(string url)
    {
        Nav.NavigateTo($"/r/{url}");
    }
}
