@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MenuPlanner.Data

@inject UserManager<User> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>E-postadresse bekreftet</PageTitle>

<h1>E-postadresse bekreftet</h1>
<StatusMessage Message="@statusMessage" Type=messageType />

@code {
    private string? statusMessage;
    private MessageType? messageType;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            messageType = MessageType.Danger;
            statusMessage = $"Fant ikke bruker med ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            messageType = result.Succeeded
                ? MessageType.Success
                : MessageType.Danger;
            statusMessage = result.Succeeded
                ? @"Du har nå bekreftet din e-postadresse og kan <a href=""/Account/Login"">logge inn</a>. Vi håper du får mye glede av din brukerkonto!" 
                : @"Feil: Kunne ikke bekrefte e-postadressen. Du kan prøve å <a href=""/Account/Register"">registrere deg på nytt</a>.";
        }
    }
}
