@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Jeg har glemt passordet mitt!</PageTitle>

<h1>Jeg har glemt passordet mitt!</h1>
<div class="alert alert-success">
    <p>
        <i class="bi bi-check-lg"></i>
        Det er mottatt! Sjekk e-posten din.
    </p>
</div>
<p>
    Dersom du er registrert som bruker hos oss har vi sendt deg en e-post med instruksjoner om hvordan du nullstiller passordet.
</p>
<p>
    Dersom du ikke mottar noen e-post fra oss (sjekk spamfilteret i e-postprogrammet ditt), så kan det hende at du ikke har en brukerkonto hos oss. Da kan du <a href="/Account/Register">registrere deg her</a>.
</p>
